body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding:  10px 30px;
    box-sizing: border-box;
}
.menu{
    background: rgb(133, 136, 160);
    box-shadow: 0 2px 12px  rgb(119, 76, 76);
}
ul{
    list-style: none;
    padding: 0;

}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.menu a, .logo{
    color: beige;
}
a{
    text-decoration: none;
}

.content .wrap{
    margin-top:  40px;
    text-align: center;

}

.top{
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.bg {
  background: #c0c0c0;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  width: 200px;
  margin: 0 auto;  
}


.bg div{
    margin-bottom: 20px;
}
.btn{
    width: 70%;
    padding: 10px;
}

.content li{
    box-shadow:  0 2px 8px 2px red;
    margin-bottom:  20px;
    font-size:  20px;
}

.content a{
    color: black;
    display: block;
    padding: 20px;
}