body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #007BFF;
}

.header {
    background-color: #007BFF; 
    padding: 10px 0;           
}

.header .head {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.header .head a {
    color: #ffffff;       
    text-decoration: none; 
    font-weight: bold;
    padding: 8px 16px;     
}


.container {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 30px;   
    padding: 0 30px;  
}


.element {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    
}

.element:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.title {
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    margin: 0;        
}


.title a {
    color: inherit;
    text-decoration: none;
}


.block_text {
    padding: 15px;
}

.element a.btn {
    display: inline-block;
    width: 160px;      
    align-self: center;         
    margin: 10px 0 15px 0;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

